.header-transparent{
    background-color: transparent;
    position: sticky;
    top:0;
    width: 100%;
    z-index: 100;
}
.header-opaque{
    background-color: rgb(25, 86, 130);
    position: sticky;
    top:0;
    width: 100%;
    z-index: 100;
}
.navbar-brand:hover{
    transition: 0.1s;
    transform: scale(1.4);
}

.nav-menu .nav-link:not(:last-child):hover{
    transition: 0.1s;
    transform: scale(1.2);
}

